{
  "openapi": "3.1.0",
  "info": {
    "title": "PeakMetrics - Enterprise Application API",
    "description": "<html><head></head><body><p>PeakMetrics' API allows for querying PeakMetrics.</p>\n</body></html>",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.peakmetrics.com",
      "description": "Main API server"
    },
    {
      "url": "https://flux.peakm.com",
      "description": "Alerting API server"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/access/token": {
      "post": {
        "tags": [
          "Get Authentication Token"
        ],
        "summary": "Get Authentication Token",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "{\n   \"username\" : \"nick\",\n   \"password\": \"{{password}}\",\n   \"client_id\" : \"{{client_id}}\"\n}\n"
            }
          }
        }
      }
    },
    "/alerts/alert/:username": {
      "get": {
        "tags": [
          "List Alerts"
        ],
        "summary": "List Alerts",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/alerts/alert/:username/:alertId/": {
      "get": {
        "tags": [
          "Get Alert"
        ],
        "summary": "Get Alert",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/alerts/alert": {
      "post": {
        "tags": [
          "Create Alert"
        ],
        "summary": "Create Alert",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "{\n\t\"whenThis\": {\n\t\t\"value\": null,\n\t\t\"text\": \"(\\\"Emerson College\\\")\",\n\t\t\"parts\": {\n\t\t\t\"always\": [\n\t\t\t\t\"Emerson College\"\n\t\t\t],\n\t\t\t\"sometimes\": [],\n\t\t\t\"never\": []\n\t\t},\n\t\t\"case_sensitive\": false,\n\t\t\"advanced_search\": false\n\t},\n\t\"happens\": {\n\t\t\"text\": \"appears in News\",\n\t\t\"value\": {\n\t\t\t\"tags\": [\n\t\t\t\t{\n\t\t\t\t\t\"tag\": \"news\",\n\t\t\t\t\t\"id\": 1,\n\t\t\t\t\t\"meta\": null,\n\t\t\t\t\t\"friendly\": \"News\"\n\t\t\t\t}\n\t\t\t],\n\t\t\t\"sources\": []\n\t\t},\n\t\t\"search\": \"workspaces\"\n\t},\n\t\"that\": [\n\t\t{\n\t\t\t\"text\": \"send me an email\",\n\t\t\t\"value\": 2\n\t\t}\n\t],\n\t\"title\": \"Emerson College\",\n\t\"frequency\": {\n\t\t\"value\": 1440,\n\t\t\"text\": \"once a day\"\n\t},\n\t\"tags\": []\n}"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Delete an Alert"
        ],
        "summary": "Delete an Alert",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "{\n\t\"id\": 60799\n}"
            }
          }
        }
      }
    },
    "/alerts/alert/nick/68223/stream": {
      "get": {
        "tags": [
          "Get Stream"
        ],
        "summary": "Get Stream",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/https://flux.peakmetrics.com/alerts/alert/v2/{username}/stream": {
      "post": {
        "tags": [
          "Get Stream V2"
        ],
        "summary": "Get Stream V2",
        "description": "",
        "parameters": [
          {
            "name": "authority",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "accept-language",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "origin",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "referer",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "sec-fetch-dest",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "sec-fetch-mode",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "sec-fetch-site",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "sec-gpc",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "{\n    \"page\": 1,\n    \"sort\": [\n        {\n            \"publish_date\": {\n                \"order\": \"desc\"\n            }\n        }\n    ],\n    \"buckets\": 1,\n    \"since\": \"2023-01-01\",\n    \"to\": \"2023-01-02\",\n    \"post_filter\": []\n}"
            }
          }
        }
      }
    },
    "/alerts/alert/${owner}/${alert_id}": {
      "put": {
        "tags": [
          "Edit Alert"
        ],
        "summary": "Edit Alert",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "{\n\t\"whenThis\": {\n\t\t\"value\": null,\n\t\t\"text\": \"(\\\"Emerson College\\\")\",\n\t\t\"parts\": {\n\t\t\t\"always\": [\n\t\t\t\t\"Emerson College\"\n\t\t\t],\n\t\t\t\"sometimes\": [],\n\t\t\t\"never\": []\n\t\t},\n\t\t\"case_sensitive\": false,\n\t\t\"advanced_search\": false\n\t},\n\t\"happens\": {\n\t\t\"text\": \"appears in News\",\n\t\t\"value\": {\n\t\t\t\"tags\": [\n\t\t\t\t{\n\t\t\t\t\t\"tag\": \"news\",\n\t\t\t\t\t\"id\": 1,\n\t\t\t\t\t\"meta\": null,\n\t\t\t\t\t\"friendly\": \"News\"\n\t\t\t\t}\n\t\t\t],\n\t\t\t\"sources\": []\n\t\t},\n\t\t\"search\": \"workspaces\"\n\t},\n\t\"that\": [\n\t\t{\n\t\t\t\"text\": \"send me an email\",\n\t\t\t\"value\": 2\n\t\t}\n\t],\n\t\"title\": \"Emerson College\",\n\t\"frequency\": {\n\t\t\"value\": 1440,\n\t\t\"text\": \"once a day\"\n\t},\n\t\"tags\": [],\n\t\"owner\": \"nick\"\n}"
            }
          }
        }
      }
    },
    "/journalists/search_beta": {
      "post": {
        "tags": [
          "Search Journalists"
        ],
        "summary": "Search Journalists",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "{\n    \"author\": null,\n    \"bio\": null,\n    \"publication\": \"cbsnews.com\",\n    \"article_text\": \"misinformation\",\n    \"topics\": [\"POLITICS\"],\n    \"limit\": 10,\n    \"page\": 1,\n    \"emails\": true\n}"
            }
          }
        }
      }
    },
    "/journalists/:_source/:_name": {
      "get": {
        "tags": [
          "Get a Journalist"
        ],
        "summary": "Get a Journalist",
        "description": "",
        "parameters": [
          {
            "name": "accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/mentions/org/:_source/detailed": {
      "get": {
        "tags": [
          "Get a Source"
        ],
        "summary": "Get a Source",
        "description": "",
        "parameters": [
          {
            "name": "accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/journalists/:_source/:_name/stats": {
      "get": {
        "tags": [
          "Get a Journalist - Stats & Topics"
        ],
        "summary": "Get a Journalist - Stats & Topics",
        "description": "",
        "parameters": [
          {
            "name": "accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/journalists/:_source/:_name/articles": {
      "get": {
        "tags": [
          "Get a Journalist - Recent Articles"
        ],
        "summary": "Get a Journalist - Recent Articles",
        "description": "",
        "parameters": [
          {
            "name": "accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/journalists/search_bulk": {
      "post": {
        "tags": [
          "Search Journalists Bulk"
        ],
        "summary": "Search Journalists Bulk",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "{\n    \"queries\": [\n        {   \n            \"author\": \"Janell Hazelwood\",\n            \"publication\": \"xonecole.com\"\n        },\n        {\n            \"author\": \"Olivia Harrison\",\n            \"publication\": \"refinery29.com\"\n        }\n    ]\n}"
            }
          }
        }
      }
    },
    "/journalists/list": {
      "get": {
        "tags": [
          "Get Media Lists"
        ],
        "summary": "Get Media Lists",
        "description": "",
        "parameters": [
          {
            "name": "accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Create Media List"
        ],
        "summary": "Create Media List",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "{\n    \"title\": \"Test\"\n}"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Delete a Media List"
        ],
        "summary": "Delete a Media List",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "{\"ids\":[\"bfb117ea-e0d8-11ea-aac2-12a73396ab39\"]}\n"
            }
          }
        }
      }
    },
    "/journalists/list/:listId": {
      "get": {
        "tags": [
          "Get a Media List"
        ],
        "summary": "Get a Media List",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/journalists/contact": {
      "post": {
        "tags": [
          "Add Contacts to a Media List"
        ],
        "summary": "Add Contacts to a Media List",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "[{\"organization\":\"Arkansas Times\",\"email\":null,\"first_name\":\"Lucas\",\"last_name\":\"Hnath\",\"contact_link\":\"369870\",\"contact_link_url\":\"6737/Lucas Hnath\",\"twitter\":{\"profile_image_url_https\":\"https://pbs.twimg.com/profile_images/1058519932407701506/8cD_1yvl_normal.jpg\",\"screen_name\":\"HillaryAndCBway\",\"description\":\"Laurie Metcalf and John Lithgow star in HILLARY AND CLINTON. By Lucas Hnath. Directed by Joe Mantello. Previews begin March 16. #HillaryAndClinton\"},\"list\":\"8add8fbc-e0d8-11ea-b554-12a73396ab39\"}]\n"
            }
          }
        }
      }
    },
    "/journalists/list/:listId/connect": {
      "delete": {
        "tags": [
          "Remove Contacts from a Media List"
        ],
        "summary": "Remove Contacts from a Media List",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "{\n    \"contacts\": [\n        \"604ab338-dbe7-11ea-8791-12a73396ab39\"\n    ]\n}"
            }
          }
        }
      }
    },
    "/journalists/export": {
      "post": {
        "tags": [
          "Export Contacts to CSV"
        ],
        "summary": "Export Contacts to CSV",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "{\n    \"ids\": [\n        \"d58f7eee-e0d8-11ea-af60-12a73396ab39\"\n    ]\n}"
            }
          }
        }
      }
    },
    "/https://api-beta.peakmetrics.com/news-enterprise/search": {
      "post": {
        "tags": [
          "Advanced Search"
        ],
        "summary": "Advanced Search",
        "description": "",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "{\n    \"include_source_meta\": true,\n\t\"range\": {\n\t\t\"since\": \"2021-05-15\",\n\t\t\"to\": \"2021-05-25\"\n\t},\n\t\"tags\": [\"news\",\"news-glob\"],\n    \"filter\": [\n        {\n            \"geo_distance\": {\n                \"distance\": \"200mi\",\n                \"geo_primary\": {\n                    \"lat\": 34.0522,\n                    \"lon\": -118.2437\n                }\n            }\n        }\n    ],\n    \"must\": [\n        {\n            \"match\": {\n                \"title\": \"Pete Buttigieg\"\n            }\n        }\n    ],\n    \"must_not\": [\n        {\n            \"match\": {\n                \"text\": \"Elizabeth Warren\"\n            }\n        }\n    ],\n    \"should\": [],\n    \"highlight\": {\n        \"fields\": {\n            \"title\": {}\n        },\n        \"fragment_size\": 300\n    },\n    \"from\": 0,\n    \"size\": 2\n}"
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Search",
        "description": "",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces": {
      "get": {
        "tags": [
          "List Workspaces"
        ],
        "summary": "List Workspaces",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/:workspaceId/narratives": {
      "get": {
        "tags": [
          "Get Narratives in Workspace"
        ],
        "summary": "Get Narratives in Workspace",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/:workspaceId/narratives/:narrativeId": {
      "post": {
        "tags": [
          "Get Mentions in Narrative"
        ],
        "summary": "Get Mentions in Narrative",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "{\n    \"post_filter\": [\n        // Filters\n    ],\n    \"sort\": [\n        // Sort\n    ],\n    \"limit\": 10, // Limit\n    \"offset\": 0, // Offset\n    \"since\": \"2023-09-01\", // Start date\n    \"to\": \"2023-09-08\" // End date\n}"
            }
          }
        }
      }
    },
    "/https://flux.peakmetrics.com/aggregations/aggregate": {
      "post": {
        "tags": [
          "Aggregate"
        ],
        "summary": "Aggregate",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "{\n    \"tags\": [\"twitter\"],\n    \"query\": \"title: \\\"seattle\\\"\",\n    \"since\": \"2023-09-01\",\n    \"to\": \"2023-09-20\",\n    \"interval\": \"day\"\n}"
            }
          }
        }
      }
    }
  },
  "tags": []
}